@import "tailwindcss";
@import "@nuxt/ui";

@import "./animation.css";

@theme {
  --font-newsreader: "Newsreader", serif;
  --font-geist: "Geist", sans-serif;

  --color-main: var(--ui-bg);
  --color-secondary: var(--color-secondary);
  --color-card: var(--color-card);
  --color-card-hover: var(--color-card-hover);
  --color-primary: var(--font-primary);
  --color-muted: var(--font-muted);
  --color-inverted: var(--font-inverted);

  --color-border-primary: var(--border-primary);
  --color-border-primary-hover: var(--border-primary-hover);
  --color-border-muted: var(--border-muted);
  --color-placeholder: var(--font-placeholder);
}

html.dark {
  --ui-bg: #000000;
  --bg-secondary: #0E0A1B;
  --bg-card: #0E0A1B;
  --bg-card-hover: #5333EC;

  --font-primary: #CDCDCD;
  --font-muted: #CDCDCD;
  --font-inverted: #000000;

  --border-primary: #5333EC;
  --border-primary-hover: #32D3D8;
  --border-muted: #5333EC;
  --font-placeholder: #CDCDCD;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#__nuxt {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}

@layer components {
  .linebreak {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-image: linear-gradient(96.18deg, rgba(0, 0, 0, 0) 10%, rgba(100, 100, 100, 0.24) 50%, rgba(0, 0, 0, 0) 90%);
  }

  .text-white-shadow {
    text-shadow: 0 4px 10px rgba(0, 87, 255, .2), 0 -4px 10px rgba(255, 90, 0, .15), 0 0 30px rgba(255, 255, 255, .2);
  }
}
